@keyframes moveLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-60%) scale(0);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-60%) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
#content {
    max-width: 1884px !important;
    width: calc(100%) !important;
}
 
.horizontalAdSlot,
.verticalAdSlot,
#leftBanner,
#rightBanner,
#topBanner {
    display: none !important;
}
#game {
    top: 0 !important;
}
#leftBanner {
  display: none !important;
}
#rightBanner {
  display: none !important;
}
.premium #header {
    background-image: url(../assets/images/header/background.png) !important;
    background-size: 70px 70px !important;
}
#header {
    background-image: url(../assets/images/header/background.png);
    background-size: 70px 70px !important;
}
#contentWrapper {
  margin-top: 0 !important;
  padding-top: 10px;
  z-index: 1;
}
.tooltipster-default {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) !important;
    border-radius: 10px !important;
    background: #d3d3d3 !important;
}
.tooltipster-default .tooltipster-content {
    font-family: 'TankTrouble' !important;
}
.tooltipster-arrow-left span,.tooltipster-arrow-right span {
    background: #d3d3d3 !important;
}
.tooltipster-arrow-top span,.tooltipster-arrow-top-right span,.tooltipster-arrow-top-left span {
    background: #d3d3d3 !important;
}
.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom-right span,.tooltipster-arrow-bottom-left span {
    background: #d3d3d3 !important;
}
.tooltipster-error {
    background: red !important;
    border-radius: 10px !important;
}
.tooltipster-error .tooltipster-content {
    font-family: 'TankTrouble' !important;
}
.tooltipster-error .tooltipster-arrow-left span,.tooltipster-error .tooltipster-arrow-right span {
    background: red !important;
}

.tooltipster-error .tooltipster-arrow-top span,.tooltipster-error .tooltipster-arrow-top-right span,.tooltipster-error .tooltipster-arrow-top-left span {
    background: red !important;
}

.tooltipster-error .tooltipster-arrow-bottom span,.tooltipster-error .tooltipster-arrow-bottom-right span,.tooltipster-error .tooltipster-arrow-bottom-left span {
    background: red !important;
}
#tankinfo text {
    font-family: 'TankTrouble' !important;
    font-size: 12px !important;
}
#tankinfo .username.hasSVG text {
    font-size: 22px !important;
}
text {
    font-family: 'TankTrouble';
}
.snippet.important {
  background: #ff0000 !important;
}
#wallOfFameSnippet {
    border: 3px solid #000000;
    width: 135px !important;
}
#messagesSnippet {
  display: none !important;
}
#red_infiltration {
    display: none;
}
.snippet.standard,
#visitsSnippet {
  background: #ffffff !important;
  color: #4a4a4a;
  font-family: Arial, sans-serif;
  border: 3px solid #d3d3d3;
  width: calc(100% - 6px) !important;
}
#FAQSnippet,
#tellAFriendSnippet {
  background: #000000;
  border: 3px solid #000000;
  color: #cacaca;
  cursor: pointer;
}
#feedbackSnippet {
  background: #ffffff;
  border: 3px solid #000000;
  color: #4a4a4a;
  cursor: pointer;
}
.snippet.standard .header,
#visitsSnippet .header {
  background: #d3d3d3;
  margin-bottom: 4px;
}
#FAQSnippet .header,
#feedbackSnippet .header,
#tellAFriendSnippet .header  {
  color: #ffffff;
  background: #000000;
}
#visitsSnippet #stats1, #stats2 {
  margin-bottom: 6px;
  font-size: 13px;
}	
#stats1 {
   margin-top: 10px;
}
#stats2 > div, #stats2 > span {
  display: inline-block;
  vertical-align: middle;
}
#visitsToday, #playersOnline, #tankOwners, #loggedIn {
  font-size: 12px;
}
#visits {
  font-size: 16px;
	margin-bottom: 5px;
}
.snippet.standard .content,
#messagesSnippet .content {
  margin: 0;
}
#tankinfo .content {
    background: #ffffff;
    border: #d3d3d3 3px solid;
    border-radius: 12px;
}
.box .tab.bottom,
.box .tab.right,
.box .tab.left,
.box .tab.top,
.box .tab.topRight {
    background: #d3d3d3 !important; 
}
.box.noselect .content {
    background: #ffffff;
    border-radius: 12px;
    border: #d3d3d3 3px solid;
}
#chat form {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border: 3px solid #d3d3d3 !important;
    background: #fff !important;
    margin-left: 20px !important;
    padding: 1px !important;
    width: 249px !important;
}
#chat form .autocomplete-dropdown{
    margin-left: 255px !important;
    margin-top: -1px !important;
}
#chat.global form {
    background: #68c5ff !important;
}
#chat.user form {
    background: #08ef0a !important;
}
#chat:not(.open) form{
    z-index: -1 !important;
    position: relative !important;
    animation: moveLeft 0.1s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards !important;
}
#chat:is(.opening, .open) form {
    z-index: -1 !important;
    position: relative !important;
    padding-right: 0 !important;
    animation: moveRight 0.3s cubic-bezier(0.79, -0.02, 0.32, 0.98) forwards !important;
}
#chat:is(.opening, .open) .content, #chat:is(.opening, .open) textarea {
    width: 230px !important;
}
#chat {
    -webkit-filter: drop-shadow(0 7px 4px rgba(0, 0, 0, .5)) !important;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 1px 2px) !important;
}
#chat .body {
    width: 240px !important;
    height: 160px !important;
    margin-left: 20px;
    margin-top: -2px !important;
    background: rgb(255 255 255 / 75%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid #d3d3d3 !important;
    padding: 5px;
}
#chat .body.dragging {
    background: rgb(255 255 255 / 55%);
    border: 3px solid #d3d3d3 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-left: 20px !important;
    margin-top: -2px;
    padding: 5px;
}
#chat.opening textarea, #chat.open textarea {
    width: 220px !important;
    margin-left: -20px !important;
    font-family: 'TankTrouble';
    font-size: 12px;
}
#chat:not(.opening) textarea, #chat:not(.open) textarea {
    margin-left: -20px !important;
}
#chat .handle {
    display: none !important;
}
.forum .bubble {
    border: #000 2px solid !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .5));
}
.forum .compose input, .forum .editing input {
    padding: 3px !important;
    width: 45% !important;
    border: 2px solid #d7d7d7 !important;
    border-radius: 8px !important;
    margin-bottom: 2px !important;
}
.forum .compose textarea, .forum .editing textarea {
    padding: 3px !important;
    border: 2px solid #d7d7d7 !important;
    border-radius: 8px !important;
    width: 99% !important;
}
#contentWrapper {
    background: #fff;
}
#navigation {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
}
#navigation .tab {
    margin: 0px -3px;
}
#navigation .tab.selected {
    z-index: 1;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 4px);
    margin: 0 -6px;
}
#navigation .tab img.deselected {
    margin: 0 3px;
}
#gameTab img.deselected {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);
    padding: 60px 0px 0px 368px;
}
#shopTab img.deselected, 
#newsTab img.deselected, 
#forumTab img.deselected {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);
    padding: 60px 0px 0px 128px;
}
#gameTab img {
  width: 0px !important;
  height: 0px !important;
  padding: 60px 0px 0px 380px;
  margin: 0 -3px;
}
#shopTab img,
#newsTab img,
#forumTab img {
  width: 0px !important;
  height: 0px !important;
  padding: 60px 0px 0px 128px;
}
#shopTab img.selected,
#newsTab img.selected,
#forumTab img.selected {
    padding: 60px 0px 0px 140px;
    width: 0px !important;
    height: 0px !important;
    margin: 0px -3px;
}
#gameTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab1Selected@2x.png") 2x);
}
#gameTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab1@2x.png") 2x);
}
#shopTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab2Selected@2x.png") 2x);
}
#shopTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab2@2x.png") 2x);
}
#newsTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab3Selected@2x.png") 2x);
}
#newsTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab3@2x.png") 2x);
}
#forumTab img {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab4Selected@2x.png") 2x);
}
#forumTab img.deselected {
  background-image: image-set(url("https://raw.githubusercontent.com/kamarov-therussiantank/TTCV2/main/src/assets/header/tab4@2x.png") 2x);
}
.shopItem {
    background: repeating-radial-gradient(#ccc, #55555599 100px) !important;
    border: #55555599 dotted !important;
}
#overlay {
    background-color: rgba(129, 129, 129, 0.904) !important;
}
#overlay .newGame .premium {
    display: block;
    background: #fff;
    border: 3px solid #d3d3d3;
    border-radius: 10px;
    color: gray;
    font-family: 'TankTrouble';
    font-size: 12px;
}
#overlay .newGame .premium::before {
    background-image: none !important;
}
#overlay input[type="checkbox"]+label::before {
    background: red !important;
    border: 2px solid red !important;
    transition: border .10s !important;
    border-radius: 7px !important;
    color: red !important;
}
#overlay input[type="checkbox"]:checked+label::before {
    color: #31e000 !important;
    background: #31e000 !important;
    border-color: #31e000 !important;
}
#overlay input[type="text"], #overlay input[type="password"], #overlay textarea {
    background-color: #e7e7e7 !important;
    border: 2px solid #a8a8a8 !important;
    border-radius: 12px !important;
}
#overlay input[type="text"] {
    color: #000 !important;
}
#overlay input[type="password"] {
    color: #000 !important;
}
#overlay textarea {
    color: #000 !important;
}
#overlay .newGame .grid {
    border-top: 3px solid #d3d3d3;
}
#overlay .newGame .setting {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'TankTrouble';
    font-size: 11px !important;
}
#overlay .messages .message {
    background: #fff !important;
    border: 3px solid #d3d3d3;
    border-radius: 10px !important;
}
#overlay .messages .message.important {
    background: #427fff !important;
    border: 3px solid #3062cb !important;
    border-radius: 10px !important;
    color: #fff;
}
button.warning {
    background: red !important;
    border-radius: 3px !important;
}
.exp.tooltipstered {
    position: relative;
    top: -1px;
    height: 30px;
}
#tankinfo .rank, #tankinfo .xp {
    position: relative;
    height: 30px;
}
.exp-bar {
    background-image: none !important;
    background: repeating-linear-gradient(0deg, #3475dd, #649cf7 30px) !important;
    height: 100%;
}
.about-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
}
.bannedText-container {
    position: relative;
    z-index: 2;
    font-size: 12px;
    margin: 20px 0 20px 0;
}
span.exp-text {
    position: absolute;
    top: 5px;
    left: 32%;
    font-family: 'TankTrouble';
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1.4px -1.4px 0 black, 1.4px -1.4px 0 black, -1.4px 1.4px 0 black, 1.4px 1.4px 0 black;
}
#tankinfo .username {
    z-index: 2;
}
.adminBadge {
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -22px;
}
.kickstarterBadge {
    z-index: 1;
    position: absolute;
    top: -70px;
    right: -22px;
}
.banned-Icon {
    z-index: 1;
    position: absolute;
    top: -140px;
    left: 10px;
}
tr.tooltipstered {
    display: none !important;
}
.statsContainer img.statsIcon {
    position: absolute;
}
.statsContainer svg {
    left: 45px;
}
.deaths.tooltipstered {
    left: 55px;
}
#tankinfo table td:first-child .statsIcon {
    left: 3px;
}
#tankinfo table td:first-child svg {
    left: 44px;
}
#tankinfo table td:last-child .statsIcon {
    right: 5px;
}
#tankinfo table td:last-child svg {
    left: 5px;
}
.achievement.unlockedAndSeen {
    background: #fff !important;
    color: #000000 !important;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .5)) !important;
}
.achievement {
    background: #bbbbbb !important;
    filter: none !important;
}
.achievement .progress {
    background: #999 !important;
    filter: none !important;
}
#overlay .achievements .logo {
    display: none !important;
}
#tankinfo .xp .progress .bar {
    background-image: none !important;
    background: repeating-linear-gradient(0deg, #a410b5, #fc2eff 30px) !important;
}
#tankinfo .rank .progress .bar {
    background-image: none !important;
    background: repeating-linear-gradient(0deg, #b59910, #ffd22e 30px) !important;
}
.action.like {
    display: none !important;
}
.box {
    -webkit-filter: none !important;
    filter: none !important;
}
button {
    background: #d3d3d3 !important;
    border-radius: 7px !important;
    color: #000 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5) !important;
}
.buttonGroup div.selected button {
    background: #9ff585 !important;
    text-shadow: none !important;
}
button:disabled {
    background: #d3d3d3 !important;
}
.note {
    color: #515151 !important;
}
.newsPost .wrapper {
    background: #fff !important;
    border-radius: 7px !important;
    border: #d3d3d3 solid 3px;
    color: #000 !important;
}
.newsPost .header {
    background: #d3d3d3;
}
.newsPost.important .wrapper {
    background: red !important;
    border: red solid 3px;
    color: #fff !important;
}

.newsPost.important .header {
    background: red !important;
    color: #fff !important;
}
#newsPost-95 .wrapper, #newsPost-92 .wrapper {
    background: #fff !important;
    border: #080 solid 3px !important;
    color: #000 !important;
}
#newsPost-95 .header, #newsPost-92 .header {
    background: repeating-linear-gradient(53deg, #080 0, #040 50px, #700 50px, #c00 100px, #080 100px) !important;
    color: #ffffff !important;
}
#newsPost-103 .wrapper {
    background-image: image-set('/getimage.php?id=137' 1x, '/getimage.php?id=137&at2x' 2x) !important;
    color: #fff !important;
    border: #d3d3d3 solid 3px !important;
}
#newsPost-103 .header {
    background: #d3d3d3 !important;
    color: #000 !important;
}
.shopItem.info button.info {
    background: #466fff !important;
    color: #fff !important;
}